<div class="border-form">
	<%= form_for @node do |form| %>
		<%= error_content(@node) %>
		<div class="field">
			<%= form.label :name %>
			<%= form.text_field :name %>
		</div>
		Properties
		<div class="field">
			<%= form.fields_for :propinstances do |ff| %>
				<p>
					<%= ff.object.name%>
					 <%= ff.label :value, "Value" %><br />
					 <%= ff.text_field :value %><br />
			  </p>
			<% end %>
			
		</div>
		<div>
			<p>
				<%= form.submit "Update", :class => "form-submit-button" %>
			</p>
		</div>
		
	<% end %>
</div>