<% @ctx == "node" ? path = noderelations_path : path = matrices_path %>
<%= form_tag(path, :class => "custom") do %>
   <div id='start_node'>
      <div class="alert alert-success">      
         <h4 class="subheader">Start Node: Type: <%= @profile.start_type.type_ref if @profile.start_type %> 
            <% if @profile.start_inst %>
               Name: <%= @profile.start_inst.name %>
            <% end %>
         </h4>
      </div>
      <%= hidden_field_tag('start[type]', @profile.start_type.id) if @profile.start_type %>
      <% if @profile.start_inst %>
         <%= hidden_field_tag 'start[node]', @profile.start_inst.id%>
      <% elsif @profile.start_type %>
         <% if @formctx == "node" %>      
            <p>Properties</p>
            <% for p in @profile.start_type.properties.each %>
               <%= label_tag p.name%>
               <%= text_field_tag "start[#{p.name}]"%>         
            <% end %>
         <% end %>
      <% else %>
         <p> Not Selected Yet </p>
      <% end %>
   </div>
   <div id='rel'>
      <% if @profile.rel %>
         <div class="alert alert-success">            
            <h4>Relationship: Type: <%= @profile.rel.name%></h4>
         </div>
         <%= hidden_field_tag 'rel[type]', @profile.rel.id%>
         <% if @formctx == "node" %>
            <p>Properties</p>
            <% for p in @profile.rel.properties.each %>
               <%= label_tag p.name%>
               <%= text_field_tag "rel[#{p.name}]"%>        
            <% end %>
         <% end %>
      <% else %>
         <p>Relationship: Type: Not Selected</p>
      <% end %>
   </div>   
   <div id='end_node'>
      <div class="alert alert-success">
         <% if @profile.end_inst %>          
            <h4>End Node: Type: <%= @profile.end_type.type_ref%> Instance: <%= @profile.end_inst.name if @profile.end_inst %></h4>        
         <% else %>
            <h4>End Node: Type: <%= @profile.end_type.type_ref if @profile.end_type %></h4>        
         <% end %>         
      </div>
      <%= hidden_field_tag('end[type]', @profile.end_type.id) if @profile.end_type%>
      <% if @profile.end_inst %>
         <%= hidden_field_tag 'end[node]', @profile.end_inst.id%>
      <% elsif @profile.end_type %>
         <% if @formctx == "node" %>      
            <p>Properties</p>
            <% for p in @profile.end_type.properties%>
               <%= label_tag p.name%>
               <%= text_field_tag "end[#{p.name}]"%>        
            <% end %>
         <% end %>
      <% else %>
         <p> Not Selected Yet </p>
      <% end %>
   </div>
   
   <%= submit_tag "Confirm", :class => "button small" %>    
<% end %>