<%= form_tag(nodes_path) do %>
	<div id='start_node'>
		<p>Start Node Form</p>
		<%= hidden_field_tag 'start[type]', @profile.start.type_ref%>
		<p>Properties</p>
		<% for p in @profile.start.properties.each %>
			<%= label_tag p.name%>
			<%= text_field_tag "start[#{p.name}]"%>			
		<% end %>
	</div>
	<div id='rel'>
		<p>Relationship Form</p>
		<%= hidden_field_tag 'rel[type]', @profile.rel.name%>		
		<p>Properties</p>
		<% for p in @profile.rel.properties.each %>
			<%= label_tag p.name%>
			<%= text_field_tag "rel[#{p.name}]"%>			
		<% end %>
	</div>	
	<div id='end_node'>
		<p>End Node Form</p>
		<%= hidden_field_tag 'end[type]', @profile.end.type_ref%>
		<p>Properties</p>
		<% for p in @profile.end.properties%>
			<%= label_tag p.name%>
			<%= text_field_tag "end[#{p.name}]"%>			
		<% end %>
	</div>
	
	<%= submit_tag "Confirm" %>		
<% end %>