
<%= form_tag(node_path, :method => :put) do %>
   <div id='node'>
      <h2 class="subheader">Node Form</h2>
      <h3 class="subheader">Properties</h3>
      <%= hidden_field_tag 'type', @node.type.id%>
      <%= label_tag @node.type.name_prop.name %>      
      <%= text_field_tag @node.type.name_prop.name, @node.name %> 
      <% for pi in @node.propinstances.each %>
         <div class="row">
            <div class="large-2 columns">
               <%= label_tag pi.name%>
            </div>
            <div class="large-10 columns">
               <% if pi.property.proptype == :string %>
                  <%= text_field_tag pi.name, pi.value%>       
               <% elsif pi.property.proptype == :long_text %>
                  <%= text_area_tag pi.name, pi.value %>
               <% elsif pi.property.proptype == :integer %>
                  <%= number_field_tag pi.name, nil, :step => 0.1 %>            
               <% else %>
                  <% raise %>
               <% end %>
            </div>
         </div>
      <% end %>
      <% for new_prop in @node.new_properties %>
         <div class="row">
            <div class="large-6 columns">
               <%= label_tag new_prop.name %>
            </div>
            <div class="large-6 columns">
               <% if new_prop.proptype == :string %>
                  <%= text_field_tag p.name%>       
               <% elsif new_prop.proptype == :long_text %>
                  <%= text_area_tag p.name %>
               <% elsif new_prop.proptype == :integer %>
                  <%= number_field_tag p.name, nil, :step => 0.1 %>                  
               <% else %>
                  <% raise %>
               <% end %>
            </div>
         </div>
      <% end %>
   </div>
   
   <%= submit_tag "Confirm", :class => "small button" %>    
<% end %>