<%- model_class = Node -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= link_to 'new node', new_node_path, :class => " btn btn-primary" %>
<%= link_to 'new node relationship', new_noderelation_path, :class => " btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
		<th>Node Name</th>
		<th>Node Type</th>
		<th>Properties</th>
		<th>Arcs</th>
		<th>Actions</th>				
	</tr>
  </thead>
  <tbody>
	<% for node in @nodes %>
		<tr>
			<td>
				<%= link_to node.name, node_path(node) %>
			</td>
			<td>
			<%= node.type.type_ref %>
			</td>
			<td>
				<% node.propinstances.each do |pi| %>
				<p>
					<%= "#{pi.name} = #{pi.value} "%>
				</p>
				<% end %>
			</td>
			<td>
				<% node.relinstances.each do |rel| %>
					<p>
						<%= rel.name%>
						<%= rel.nodereltype.name%>
						<%= "#{rel.related_node.type.type_ref}::#{rel.related_node.name}"%>
					</p>
				<% end %>
			</td>
			<td>
				<%= link_to 'Edit', edit_node_path(node) %>
				<%= link_to 'Delete', node_path(node), :method => :delete%>			
			</td>
		</tr>
	<%end%>	
</table>