<% if @node.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@node.errors.count, "error") %> prohibited the node from being saved:</h2>

		<ul>
			<% @node.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<% title "Node #{@node.name}"%>
<%= @node.name%>
<p>Node Type: <%= link_to @node.type.type_ref, type_path(@node.type)%></p>

<p>Node Properties</p>
<% @node.propinstances.each do |prop| %>
	<p>
		<%= prop.name %>: <%=prop.value%>
	</p>
<% end %>

<button><%= link_to 'New Relationship', new_node_path(:start_node => @node)%></button>

<p>Related to the following Nodes:</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Node Name</th>
			<th>Node Type</th>
			<th>Node Relation Type</th>
		</tr>
	</thead>
	<tbody>

		<% @node.relinstances.each do |nrel| %>
			<tr>
				<td><%= nrel.name %></td>
				<td><%= link_to nrel.related_node.name, node_path(nrel.related_node) %></td>
				<td><%= nrel.nodereltype.name %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>
<%= link_to 'Back to List', nodes_path %>
</p>