<div class="border-form">
	<%= form_for(setup_reltype(@rel)) do |form| %>
		<%= error_content(@rel) %>
		<div class="field">
			<%= form.label :name %>
			<%= form.text_field :name %>
			<%= form.label :desc %>
			<%= form.text_area :desc, :rows => 5, :cols => 40  %>
			<%= hidden_field_tag 'rel_type', @rel.id %>			
		</div>
		Properties
		<%= form.fields_for :properties do |ff| %>
		  <p>
			  <%= ff.label :name, "Name" %><br />
			  <%= ff.text_field :name %><br />
			  <%= ff.label :proptype, "Type" %><br />
			  <%= ff.text_field :proptype %><br />
			  <%= ff.check_box :_destroy %>
			  <%= ff.label :_destroy, "Remove Property" %>
		  </p>
		  <% end %>
		<%= form.fields_for :arcprop do |ff| %>
		  <p>
			<%= ff.label :start, 'Start Node' %>
			<%= ff.select(:start, options_for_select(type_list, @rel.arcprop.start)) %>
			<%= ff.label :end, 'End Node' %>
			<%= ff.select(:end, options_for_select(type_list, @rel.arcprop.end)) %>
			<%= ff.check_box :directed %>
			<%= ff.label :directed, "Directed?" %>
		  </p>
		<% end %>
		
		<div>
			<p>
				<%= form.submit "Create", :class => "form-submit-button" %>
			</p>
		</div>
			
	<%end%>

</div>
</br>