<table class="table table-striped">
  <thead>
    <tr>
		<th>Name</th>
		<th>Description</th>
		<th>Properties</th>
		<th>Arc</th>		
		<th>Actions</th>				
	</tr>
  </thead>
  <tbody>

<% for rel in @rels do %>
<tr>
	<td><%= link_to rel.name, reltype_path(rel) %></td>
	<td>
		<p><%= rel.desc%></p>
	</td>	
	<td>
		<% for prop in rel.properties%>
			<p>
				name: <%= prop.name%>
				rel: <%= prop.proptype%>
				Name Property: <%= prop.name_prop%>
			</p>			
		<%end%>
	</td>
	<td>
		<% if rel.arcprop %>
			Start: <%= rel.arcprop.start_node.type_ref%> End: <%= rel.arcprop.end_node.type_ref%> Directed: <%= rel.arcprop.directed %>
		<%end %>
	</td>
	<td>
		<%= link_to 'edit', edit_reltype_path(rel)%>
		<%= link_to 'delete', reltype_path(rel), :method => :delete%>		
	</td>
</tr>	
<%end%>

<%= link_to 'New relationship type', new_reltype_path %>