</br>
</br>
<div >
	<%= form_for(setup_type(@type), :html => {:class => "form-horizontal"}) do |form| %>
		<%= error_content(@type) %>
		<div class="control-group">
			<%= form.label 'Name', class: "control-label"%>
			<div class="controls">
				<%= form.text_field :type_ref %>
			</div>
		</div>
		<div class="alert alert-success">				
			<h4>Properties</h4>
		</div>
		<%= form.fields_for :properties do |ff| %>
			<div class="control-group">			
			  	<%= ff.label :name, "Name", class: "control-label" %><br />
				<div class="controls">			
			  		<%= ff.text_field :name %><br />
				</div>
			</div>
			<div class="control-group">
			  	<%= ff.label :proptype, "Type", class: "control-label" %><br />
				<div class="controls">						
			  		<%= ff.text_field :proptype %><br />
				</div>
			</div>
			<div class="control-group">							
				<div class="controls">
			  		<%= ff.check_box :name_prop %>									
				</div>
			  	<%= ff.label :name_prop, "Mark as the Name Property", class: "control-label" %>							
			</div>
			<div class="control-group">
				<div class="controls">						
			  		<%= ff.check_box :_destroy, class: "checkbox" %>
				</div>
			  	<%= ff.label :_destroy, "Remove Property", class: "control-label" %>
			</div>
		  <% end %>
		<div class="control-group">
			<div class="controls">
				<%= form.submit "Create", :class => "btn" %>
			</div>
		</div>
		
	<%end%>
</div>
</br>