</br>
</br>
<div class="form-horizontal">
<%= form_for(setup_type(@type)) do |form| %>
	<%= error_content(@type) %>
	<div class="control-group">
		<%= form.label 'Name', :class => "control-label" %>
		<div class="controls">
			<%= form.text_field :type_ref %>
		</div>
	</div>
	<h3>Properties</h3>
	<%= form.fields_for :properties do |ff| %>
	  <p>
		  <%= ff.label :name, "Name" %><br />
		  <%= ff.text_field :name %><br />
		  <%= ff.label :proptype, "Type" %><br />
		  <%= ff.text_field :proptype %><br />
		  <%= ff.check_box :name_prop %>
		  <%= ff.label :name_prop, "Mark as the Name Property" %>			
		  <%= ff.check_box :_destroy %>
		  <%= ff.label :_destroy, "Remove Property" %>

	  </p>
	  <% end %>
	<div>
		<p>
			<%= form.submit "Create", :class => "form-submit-button" %>
		</p>
	</div>
		
<%end%>
</div>
</br>