<%- model_class = Type -%>
<% title model_class.to_s %>
<table class="table table-striped">
  <thead>
    <tr>
		<th><%= model_class.human_attribute_name(:name) %></th>
		<th><%= model_class.human_attribute_name(:description) %></th>
		<th><%= model_class.human_attribute_name(:properties) %></th>
		<th>Actions</th>		
	</tr>
  </thead>
  <tbody>

<% for type in @types do %>
	<tr>
		<td><%= link_to type.type_ref, type_path(type) %></td>
		<td>
			<p><%= type.desc%></p>
		</td>
		<td>
			<% for prop in type.properties%>
				<p>
					name: <%= prop.name%>
					type: <%= prop.proptype%>
					Name Property: <%= prop.name_prop%>
				</p>			
			<%end%>
		</td>
		<td>
			<%= link_to 'edit', edit_type_path(type), :class => 'btn btn-success btn-mini'%>
			<%= link_to 'delete', type_path(type), :method => :delete, :class => 'btn btn-danger btn-mini'%>		
		</td>
	</tr>	
<%end%>
</table>
<%= link_to 'New Type', new_type_path, :class => 'btn btn-primary' %>