<%- model_class = Type -%>
<% title "Type #{@type.type_ref}"%>
<% if @type.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@type.errors.count, "error") %> prohibited the type from being saved:</h2>

		<ul>
			<% @type.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<h3><%= @type.type_ref%></h3>
<div class="alert alert-success">		
	<h4>Used in the following Relation Types</h4>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Relation Type</th>
			<th>Start/End</th>			
		</tr>
	</thead>
	<tbody>
		<% @type.assigned_reltypes.each do |rt| %>
			<tr>
				<td><%= link_to rt.name, reltype_path(rt) %></td>
				<td><%= rt.arcprop.which?(@type)%></td>
			</tr>
		<%end %>
		
	</tbody>
</table>

<div class="alert alert-success">		
	<h4>Nodes of this type:</h4>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Node Name</th>
		</tr>
	</thead>
	<tbody>

		<% @type.nodes.each do |node| %>
			<tr>
				<td><%= link_to node.name, node_path(node) %></td>
			</tr>
		<%end %>
	</tbody>
</table>


<p>
<%= link_to 'Back to List', types_path %>
</p>