<%- model_class = Type -%>
<% title "Type #{@type.type_ref}"%>
<%= error_content(@type) %>

<h3>
	<%= @type.type_ref%>
	<%= link_to 'edit', edit_type_path(@type), :class => 'btn btn-success btn-mini'%>
	<%= link_to 'delete', type_path(@type), :method => :delete, :class => 'btn btn-danger btn-mini'%>		
</h3>

<div class="alert alert-success">		
	<h4>Used in the following Relation Types</h4>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Relation Type</th>
			<th>Start/End</th>			
		</tr>
	</thead>
	<tbody>
		<% @type.assigned_reltypes.each do |rt| %>
			<tr>
				<td><%= link_to rt.name, reltype_path(rt) %></td>
				<td><%= rt.arcprop.which?(@type)%></td>
			</tr>
		<%end %>
		
	</tbody>
</table>

<div class="alert alert-success">		
	<h4>Nodes of this type:</h4>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Node Name</th>
		</tr>
	</thead>
	<tbody>

		<% @type.nodes.each do |node| %>
			<tr>
				<td><%= link_to node.name, node_path(node) %></td>
			</tr>
		<%end %>
	</tbody>
</table>


<p>
<%= link_to 'Back to List', types_path %>
</p>