<h3 class="subheader">X Axis: <%= @compare.axis_title(axis: :x) %></h3>
<h3 class="subheader">Y Axis: <%= @compare.axis_title(axis: :y) %></h3>
<h3 class="subheader">Relationship: <%= @compare.relation_title %></h3>

<% @compare.matrix.each_with_index do |e, r, c| %>
  <p> <%= "#{e} @ #{r},#{c}" %></p>
<% end %>

<table class="table table-striped">
   <thead>
      <tr>
         <% @compare.x_axis_size.times do |x_hdr| %>
            <th><%= @compare.matrix[0, x_hdr] %></th>
         <% end %>
      </tr>
   </thead>
   <tbody>
      <% @compare.y_axis_size.times do |row| %>
         <tr>
            <% @compare.x_axis_size.times do |col| %>
               <td><%= @compare.matrix[row + 1, col] %></td>
            <% end %>
         </tr>
      <% end %>
   </tbody>
</table>


