<table class="table table-striped">
  <thead>
    <tr>
		<th>Node Name</th>
		<th>Node Type</th>
		<th>Properties</th>
		<th>Arcs</th>
		<th>Actions</th>				
	</tr>
  </thead>
  <tbody>
	<% for node in @nodes %>
		<tr>
			<td>
				<%= link_to node.name, node_path(node) %>
			</td>
			<td>
			<%= node.type.type_ref %>
			</td>
			<td>
				<% node.propinstances.each do |pi| %>
				<p>
					<%= "#{pi.name} = #{pi.value} "%>
				</p>
				<% end %>
			</td>
			<td>
				<% node.relinstances.each do |rel| %>
					<p>
						<%= rel.name%>
						<%= rel.nodereltype.name%>
						<%= "#{rel.related_node.type.type_ref}::#{rel.related_node.name}"%>
					</p>
				<% end %>
			</td>
			<td>
				<%= link_to 'undelete', undelete_archives_path(:ctx => 'node', :ctx_id => node.id), :method => :put, :class => 'btn btn-danger btn-mini'%>			
			</td>
		</tr>
	<%end%>	
</table>